* {
  box-sizing: border-box;
  margin: 0;
}

body {
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #939598;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #00A79D;
  text-align: center;
}

h1 span {
  color: #6D6E71;
}

.idea-entry-section {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  height: 40vh;
  padding: 1% 5%;
  width: 100%;
}

.title-body-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#idea-title,
#idea-body {
  margin-bottom: 3%;
  padding: 5px;
  width: 65%;
}

#save_btn {
  border: none;
  background-color: #00A79D;
  color: #FFFFFF;
  height: 30px;
  width: 65%;
}

#save_btn:hover {
  background-color: #045e55;
}

#save_btn:disabled {
  background-color: #747474;
}

.search {
  height: 30px;
  margin-top: 20px;
  width: 100%;
}

.search-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 5%;
  margin: auto;
  width: 65%;
}

.search-form input {
  border: 1px solid #939598;
  width: 90%;
}

.idea-stage {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: left;
  width: 100%;
}

.delete-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.idea-stage button {
  background-color: transparent;
  border: none;
}

.deletebutton {
  background-image: url('assets/delete.svg');
  background-repeat: no-repeat;
  width: 25px;
}

.deletebutton:hover {
  background-image: url('assets/delete-hover.svg');
  background-repeat: no-repeat;
  border: none;
}

.deletebutton:focus {
  outline: none;
}

#upvote {
  background-image: url('assets/upvote.svg');
  background-repeat: no-repeat;
  width: 25px;
}

#upvote:hover {
  background-image: url('assets/upvote-hover.svg');
  background-repeat: no-repeat;
  width: 25px;
}

#upvote:focus {
  outline: none;
}

#downvote {
  background-image: url('assets/downvote.svg');
  background-repeat: no-repeat;
  width: 25px;
}

#downvote:hover {
  background-image: url('assets/downvote-hover.svg');
  background-repeat: no-repeat;
  width: 25px;
}

#downvote:focus {
  outline: none;
  width: 25px;
}

.body-div {
  margin: 10px 0;
}

.vote-and-quality {
  display: flex;
  height: 25px;
  justify-content: space-between;
  width: 40%;
}

.vote-buttons {
  display: flex;
  justify-content: space-between;
}

.vote-buttons button {
  margin: 0 10px;
}

hr {
  background-color: #D1D3D4;
  border: 0;
  height: 1px;
  margin: 10px;
}

.title-delete {
  display: flex;
  justify-content: space-between;
}
